{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block content %}

<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url({% static 'img/behindshotfreethrow.png'%})">
          <div class="carousel-caption d-none d-md-block">
            <h3>Practise Your Game.</h3>
            <p></p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url({% static 'img/swish.png' %})">
          <div class="carousel-caption d-none d-md-block">
            <h3>Master Your Craft.</h3>
            <p></p>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url({% static 'img/stephCurryFreeThrow.png' %})">
          <div class="carousel-caption d-none d-md-block">
            <h3>Become Your Best.</h3>
            <p></p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
</header>

<body>
  {% url 'analysis' as analysis_url %}
  <div class="row mb-4">
   <div class="container" id="button-container">
    <form method="post" enctype="multipart/form-data" action="analysis">
          {% csrf_token %}
          <div class="form-class">
            <input type="file" id="file" style='font-size: 80px; margin-top: 8rem; width: 70rem;' name="videoFile"/> <!--onchange="selectedVideo(this);"-->
            <button class="btn btn-custom btn-dark" id="analyse-button" type="submit">Analyse</button>
          </div>
    </form>
   </div>
  </div>

  <!--<video width="4000" height="3600" id="video" controls>
    <source id="source" type="video/mp4">
  </video> -->

  <script type="text/javascript">
    const analyseBtn = document.getElementById("analyse-button");
    const fileBtn = document.getElementById("file");
    analyseBtn.disabled = true;

    fileBtn.addEventListener("change", function() {
      analyseBtn.disabled = false;
    });
  </script>

</body>
{% endblock %}

<!--const fileBtn = document.getElementById("file");
    const customBtn = document.getElementById("custom-button");
    const customTxt = document.getElementById("custom-text");
    const analyseBtn = document.getElementById("analyse-button");
    analyseBtn.disabled = true;

    customBtn.addEventListener("click", function() {
      fileBtn.click();
    });

    fileBtn.addEventListener("change", function() {
      if (fileBtn.value) {
        customTxt.innerHTML = fileBtn.value.match(/[\/\\]([\w\d\s\.\-\(\)]+)$/)[1];
        analyseBtn.disabled = false;
      }
      else {
        customTxt.innerHTML = "No file uploaded."
      }
    });

    function selectedVideo(self)  {
      var file = self.files[0];
      var reader = new FileReader();

      reader.onload = function(e)  {
        var src = e.target.result;
        var video = document.getElementById("video");
        var source = document.getElementById("source");

        source.setAttribute("src", src);
        video.load();
        video.play();
      };

      reader.readAsDataURL(file);
    }-->
