{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block content %}

<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url({% static 'img/behindshotfreethrow.png'%})">
          <div class="carousel-caption d-none d-md-block">
            <h3>Practise Your Game.</h3>
            <p></p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url({% static 'img/swish.png' %})">
          <div class="carousel-caption d-none d-md-block">
            <h3>Master Your Craft.</h3>
            <p></p>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url({% static 'img/stephCurryFreeThrow.png' %})">
          <div class="carousel-caption d-none d-md-block">
            <h3>Become Your Best.</h3>
            <p></p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
</header>

<body>
  {% url 'analysis' as analysis_url %}
  <div class="row mb-4">
        <input type="file" id="file" hidden="hidden"/>
        <button class="btn btn-custom btn-dark" id="custom-button">Upload A Video</button>
        <span id="custom-text">No file uploaded.</span>
        <a href="{{ analysis_url }}"><button class="btn btn-custom btn-dark" id="analyse-button">Analyse</button></a>
  </div>
  <script type="text/javascript">
    const fileBtn = document.getElementById("file");
    const customBtn = document.getElementById("custom-button");
    const customTxt = document.getElementById("custom-text");
    const analyseBtn = document.getElementById("analyse-button");
    analyseBtn.disabled = true;

    customBtn.addEventListener("click", function() {
      fileBtn.click();
    });

    fileBtn.addEventListener("change", function() {
      if (fileBtn.value) {
        customTxt.innerHTML = fileBtn.value.match(/[\/\\]([\w\d\s\.\-\(\)]+)$/)[1];
        analyseBtn.disabled = false;
      } else {
        customTxt.innerHTML = "No file uploaded."
      }
    });
  </script>
</body>
{% endblock %}